<div class="container">
	<div class="row">
		<h4 class="my-2">
			Bonjour
			{{ user.username }}
		</h4>
		<p>
			Bienvenue sur
			<strong>My Blog</strong>! Vous venez de creer votre profil.
		</p>

		Nous vous conseillons de cree votre prenier article .
		<a href="{{ new_article }}">new Article</a>

	</p>
</div></div>
