


           
    <div class="card-body">

        <a class="card-link text-primary"  href="#"> <i class="far fa-thumbs-up"></i>10 likes</a>
        <a class="card-link text-dark"  href="#">  <i class="fas fa-share-alt"></i> </i> </a>

        <div class="text-right">
            <a class="card-link text-danger"  href="{{ path('blog-delete',{id: post.id})}}"><i class="far fa-trash-alt"></i></a>
            <a class="card-link text-success" href="{{ path('blog-update',{id: post.id})}}"><i class="fas fa-edit"></i></a>
        </div>
        
    </div>

    <i class=""></i>










    